body {
  background-color: lightgrey;
  margin-top: 40px;
}

ul li {
  border: 1px solid grey;
  list-style: none;
  background-color: white;
}

input {
  border: none;
  width: 100%;
}

i {
  float: inline-end;
}
